<head>
  <title>Trailzr</title>
  <meta charset="utf-8">
  <meta name="description" content="Trailzr Mobile App">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=en&libraries=geometry"></script>
</head>
<body>
  <div id="app"></div>
</body>

<template name="socialShareBasic">
  <div class='social-buttons'>
    {{> lmSocialShare opts=opts}}
  </div>
</template>
