html,body{ margin:0; padding:0; height:100%; width:100%;}

/*.map-container {
  width: 1600px;
  /*width: 100%;
  max-height: 100%;
  /*height: 100%;
  overflow: scroll;
  max-width: 100%;
  height: 1000px;
}*/
.map-container{
  position: absolute;
  left: 0;
  top: 64px;
  width: 75%;
  height: calc(100% - 64px);
}

#card > div{
  height:100%;
}

.online{
  color: #4caf50;
}

.recording{
  color: #2196F3;
}

.offline{
  color: #9E9E9E;
}

.self{
  color: #F44336;
}

.admin-login-page{
	text-align: center;
	position: relative;
	height: 100vh;
}

.status-online::before{
  width:10px;
  height:10px;
  content:'';
  background-color: #4caf50;
  display:inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

.status-recording::before{
  width:10px;
  height:10px;
  content:'';
  background-color: #2196F3;
  display:inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

.status-offline::before{
  width:10px;
  height:10px;
  content:'';
  background-color: #9E9E9E;
  display:inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
